**/__pycache__/
*.egg-info/
*.egg
*.whl

.ui-meta/

scratch.ipynb
config/conn.yml

data/composite_workloads/**/day_traces/
data/runs/**/*.log
data/strategy_runs/**/*.parquet
data/runs/run_summary*
data/redset_byproducts/

site/
docs/reference/
docs/index.md
docs/assets/

data/models/