**/__pycache__/
*.egg-info/
*.egg
*.whl
.vscode
.ui-meta/
.planning/
site/

scratch.ipynb
config/conn.yml
data/config/aws.yml

data/composite_workloads/**/cached*
data/execution_configs/tuned/*.yml
data/models/
data/redset_byproducts/
data/redset_executable_workloads/**/*.parquet
data/runs/**/*.log
data/runs/**/features_*
data/runs/**/label_*
data/runs/**/parsed_plans.*
data/runs/**/tpcds_temp_and_q_idxs*
data/runs/run_summary*
data/strategy_runs/
data/simulator_runs/*
data/test_workloads/**/*.parquet
data/iconq_models/**/dataset.pkl

data/redset_executable_workloads/redbench_*/matching_*/queries.json
data/redset_executable_workloads/redbench_*/matching_*/workload.csv

data/__query_texts/

docs/*
!docs/architecture_diagram.md
!docs/index.md
!docs/paper_to_code.md

data/tuner_runs*/
data/simulator_runs/TESTTEST/

profile.prof

