**/__pycache__/
*.egg-info/
*.egg
*.whl

.ui-meta/
.planning/

scratch.ipynb
config/conn.yml
data/__run_configs/aws.yml

data/composite_workloads/**/cached*
data/models/
data/redset_byproducts/
data/redset_executable_workloads/**/*.parquet
data/runs/**/*.log
data/runs/**/features_*
data/runs/**/label_*
data/runs/**/parsed_plans.*
data/runs/**/tpcds_temp_and_q_idxs*
data/runs/run_summary*
data/strategy_runs/
data/selector_runs/**/*.log
data/simulator_runs/test*
data/test_workloads/**/*.parquet
data/iconq_models/**/dataset.pkl

data/redset_executable_workloads/redbench_*/matching_*/queries.json
data/redset_executable_workloads/redbench_*/matching_*/workload.csv

data/__query_texts/

site/
docs/reference/
docs/index.md
docs/assets/

uis/**/node_modules/
.classifier-ui-meta/
.simulator-ui-meta/
docs/*.md

data/tuner_runs/history_exp*/

